/* CSS HEX */
colors {
  --aqua: #05f7fc;
  --white: #ffffff;
  --rose: #f61a71;
  --russian-violet: #381d54;
  --scarlet: #ff311e;
  --steel-pink: #dd16c0;
  --erin: #3dfe44;
  --aquamarine: #07f9a0;
  --lime: #c7ff12;
  --electric-purple: #b824f1;
  --ghost-white: #f8f9fa;

  /* #e9ecef */
}
