/* CSS HEX */
colors {
  --aqua: #05f7fcff;
  --white: #ffffffff;
  --rose: #f61a71ff;
  --russian-violet: #381d54ff;
  --scarlet: #ff311eff;
  --steel-pink: #dd16c0ff;
  --erin: #3dfe44ff;
  --aquamarine: #07f9a0ff;
  --lime: #c7ff12ff;
  --electric-purple: #b824f1ff;
}
